.top-bg {
    background-image: url("../img/Vector.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 100% 16%;
    background-color: var(--op-blue6-b);
    padding-top: 8rem;
    padding-bottom: 10rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.top-bg .wrap2 {
    position: relative;
    z-index: 3;
}

.c-child {
    top: 22%;
}

.pagewrap1 {
    position: relative;
    margin: -1rem auto 0;
    background-color: var(--op-white-b);
    border-radius: 1rem 1rem 0 0;
    min-height: 100px;
}

/* 內容樣式開始 */
.news_list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 1.5rem;
    border-bottom: 0.5px solid var(--op-blue2-b);
    text-decoration: none;
}

.news_list .left-block {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.news_list .date-category-row {
    display: flex;
    align-items: flex-start;
}

.news_list .date {
    color: var(--op-black1-g);
    margin-right: 16px;
    padding-top: 10px;
}

.news_list .category,
.news_list .category2 {
    border-radius: 20rem;
    padding: 4px 0;
    width: 90px;
    text-align: center;
    color: var(--op-white);
    margin: 6px 40px 0 0;
}

.news_list .category {
    background-color: var(--op-blue4);
}

.news_list .category2 {
    background-color: var(--op-blue3-b);
}

.news_list .title-column {
    display: flex;
    flex-direction: column;
    max-width: 740px;
}

.news_list .title {
    color: var(--op-black1-g);
    flex: 1;
    margin: 0;
}
.news_list.active-news .title,
.news_list.active-news .date,
.news_list.active-news .category,
.news_list.active-news .category2,
.news_list.active-news .body-2 {
    color: var(--op-white)
}


.news_list.active-news .category.body-2 {
    color: #225EDC;
    background-color: var(--op-white);
}

.news_list .content {
    color: var(--op-gray8-g2);
    margin-top: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_list .arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--op-blue2);
    border-radius: 50%;
    color: var(--op-blue2);
    text-decoration: none;
    margin-left: auto;
    font-size: 1rem;
    line-height: 1;
}

.news_list.active-news {
    background-color: var(--op-blue4);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.news-detail-box {
    display: none;
    padding: 1.5rem;
    color: var(--op-gray8-w);
    border-radius: 0 0 4px 4px;
    border-bottom: 0.5px solid var(--op-blue2-b);
}

.news-detail-box .detail-contact {
    display: flex;
    flex-wrap: wrap;
}

.detail-contact > div {
  margin-right: 100px;
}

.bi-chevron-right::before{
content: "\f282";
}

.news_list.active-news .bi-chevron-right::before {
  content: "\f286";
}

/* 響應式設計 */
@media (max-width: 1200px) {
    .advanced-filters-2 {
        width: calc(100% - 60px);
    }
}

@media (max-width: 991px) {
    .top-bg {
        padding: 4rem 0 6rem;
        min-height: 300px;
    }
    .news_list {
    gap: 16px;
    padding: 12px;
    }
    .news_list .date-category-row {
    display: none;
    }
    .news_list .left-block {
        flex-direction: column;
        gap: 8px;
    }
    .detail-contact > div {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .top-bg {
        padding: 2rem 0 3rem;
        min-height: 250px;
    }

}



