html * {
  max-height: 1000000px;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  }
  :root {
    --primary-font: 'Noto Sans TC', 'Inter', sans-serif;
    --gap-idx-l: 60px;
    --padding-x: 160px;
    --fw-bold: 500;
    --op-white: #fff;
    --op-black: #000;
    --op-black1: #3C3C3C;
    --op-gray1: #F9F9F9;
    --op-gray2: #EEEEEE;
    --op-gray3: #E3E2E2;
    --op-gray4: #C7C6C6;
    --op-gray5: #ABABAB;
    --op-gray6: #919191;
    --op-gray7: #777777;
    --op-gray8: #5E5E5E;
    --op-gray9: #464747;
    --op-blue: #EFF5FD;
    --op-blue1: #E1ECFF;
    --op-blue2: #94C2FF;
    --op-blue3: #448EF6;
    --op-blue4: #1440A3;
    --op-blue5: #001F66;
    --op-blue6: #031643;
    --op-orange1: #FF8D4F;
    --op-orange2: #FF6E00;
    --op-orange3: #C75400;
  }
  body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    position: relative;
  }
      /* nav bar 背景色切換 */
    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) {
      background-color: var(--op-white);
    }

    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) .nav-icons a,
    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) .nav-icons .body-2,
    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) .nav-bar .nav-text {
      color: var(--op-black1);
    }
    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) 
  .nav-item:not(:last-child)::after {
  background: var(--op-black1);
}
    .nav-wrapper:has(.nav-item:hover, h1 img:hover, .nav-icons a:hover) .nav-bar h1 img {
      content: url("https://i.ibb.co/Xr4kfTt4/logo-b.png"); /* 替換為藍色 logo */
    }
    /* nav bar 背景色切換 END */
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 9999;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
  }

  .nav-wrapper.active {
    position: absolute;
  }

  .nav-wrapper.scrolled,
  .nav-wrapper.hovered {
    background-color: var(--op-white);
  }
  .nav-bar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: var(--op-white);
    transition: color 0.3s ease;
  }
  .nav-wrapper.scrolled .nav-bar,
  .nav-wrapper.scrolled .nav-bar .nav-text,
  .nav-wrapper.scrolled .nav-icons a,
  .nav-wrapper.hovered .nav-bar,
  .nav-wrapper.hovered .nav-bar .nav-text,
  .nav-wrapper.hovered .nav-icons a {
    color: var(--op-black1);
  }
  .nav-bar h1 {
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .nav-bar h1 img {
    width: 100%;
    height: 100%;
    margin-right: 0.5rem;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  nav {
    display: flex;
    gap: 0;
  }
  nav .nav-item {
    position: relative;
    display: flex;
    align-items: center;
  }
  nav .nav-text {
    color: var(--op-white);
    padding: 10px 16px;
    display: inline-block;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  nav .nav-text:hover {
    text-decoration:none;
    border-bottom: 2px solid var(--op-orange1);
    z-index: 9999;
  }
  nav .nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 16px;
    transform: translateY(-50%);
    background: var(--op-white);
    transition: background 0.3s ease;
  }
  /* 滑鼠移入時變藍色 */
  nav .nav-item:not(:last-child):hover::after {
    background: var(--op-blue3);
  }
  .nav-wrapper.scrolled nav .nav-item:not(:last-child)::after,
  .nav-wrapper.hovered nav .nav-item:not(:last-child)::after {
    background-color: var(--op-blue6);
  }

  /*選單電腦版*/
  nav .nav-item:last-child::after {
    display: none;
  }
  .dropdown-menu-full {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    background-color: var(--op-white);
    color: var(--op-blue6);
    z-index: 9998;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:space-around;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

   .nav-item .dropdown-menu-full.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    border-top: 3px solid var(--op-white);
  }

.nav-item .dropdown-menu-full.active .secNav {
    position: fixed;
    width: 100vw;
    background-color: var(--op-white);
    padding: 1rem 4rem 1rem 0;
    /* padding: 1rem 0rem 1rem 4rem; */
    /*TODO 這個需要依照不同的大小調整 最後一個 rem 的值 畫面越小值要越小 第三層也要調*/
     /* padding: 1rem 0rem 1rem 20rem;  */
    color: var(--op-blue6);
    z-index: 9998;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:space-around;
    display: flex;
    opacity: 1;
  }

  .dropdown-menu-full .secNav a {
    color: var(--op-blue6);
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    flex: 0 0 23%;
    text-align: left;
  }
  .dropdown-menu-full .secNav a:hover {
    text-decoration: none;
    color: var(--op-blue6);
  }

  .dropdown-menu-full .secNav a span {
    color: var(--op-blue6);
    vertical-align: text-bottom;
  }

  .secIcon {
    color: var(--op-blue4);
    font-size: 1.2rem;
    padding-right: 0.4rem;
  }


  /*secNavWithThi 第二層 但是有第三層的時候*/
  /*TODO 可能還有混合版 有第三層也有只有第二層的情況 還有第三層子階特別多的情況*/
  .nav-item .dropdown-menu-full.active .secNavWithThi {
    background-color: var(--op-white);
    padding: 1rem 4rem 1rem 0;
    color: var(--op-blue6);
    z-index: 9998;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content:space-around;
    display: flex;
    opacity: 1;
    flex-direction: column;
    padding-right: 0;
  }

  .dropdown-menu-full .secNavWithThi a {
    color: var(--op-blue6);
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  .dropdown-menu-full .secNavWithThi a:hover {
    text-decoration: none;
    color: var(--op-blue6);
  }

  .aTagDec {
    background-image: linear-gradient(#f0f0f0 0 0);
    background-position: bottom left;
    background-size: 90% 2px;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
  }

  .dropdown-menu-full .secNavWithThi a span {
    color: var(--op-gray8);
    vertical-align: text-bottom;
  }

 .sevNavContent {
    padding-left: 7rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  /*上下至左的配置*/
.sevNavContentCol {
    padding-left: 20rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30rem;
    row-gap: 4rem;
    column-gap: 2rem;
    align-content: start;
}



  .dropdown-menu-Third {
    color: var(--op-blue6);
    padding-left: 0.2rem;
  }

   /*上下至左的配置*/
.dropdown-menu-ThirdCol {
    color: var(--op-blue6);
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
    width: 43%;
    column-gap: 10rem;
    align-content: space-between;
  }

  .dropdown-menu-Third a span {
    color: var(--op-blue6);
    vertical-align: text-bottom;
  }

  .secNavCol1 {
    width: 8%;
  }

  .secNavCol2 {
    width: 16%;
  }

  .secNavCol3 {
    width: 24%;
  }

  .secNavCol4 {
    width: 32%;
  }

   .secNavCol5 {
    width: 40%;
  }

   .secNavCol6 {
    width: 48%;
  }

   .secNavCol7 {
    width: 56%;
  }

   .secNavCol8 {
    width: 64%;
  }

  .secNavCol9 {
    width: 72%;
  }
  .secNavCol10 {
    width: 80%;
  }

  .secNavCol11 {
    width: 88%;
  }
  .secNavCol12 {
    width: 96%;
  }

  .thiIcon {
    color: var(--op-blue2);
    font-size: 1rem;
    padding-right: 0.4rem;
  }

  .thiIconNoShow {
    color: var(--op-white);
    font-size: 1rem;
    padding-right: 0.4rem;
  }


  @media (max-width: 1660px){
    .sevNavContent {
      padding-left: 10rem;
      width: 100%;
    }

    /*上下至左的配置*/
    .sevNavContentCol {
      padding-left: 10rem;
    }
  }

  @media (max-width: 1440px){
    .sevNavContent {
      padding-left: 5rem;
      width: 100%;
    }

    /*上下至左的配置*/
    .sevNavContentCol {
      padding-left: 5rem;
    }
  }

  @media (max-width: 1280px){
    .sevNavContent {
      padding-left: 1rem;
      width: 100%;
    }

    /*上下至左的配置*/
    .sevNavContentCol {
      padding-left: 1rem;
      column-gap: 4rem;
    }

    .dropdown-menu-ThirdCol {
    column-gap: 6rem;
    }
   
  }

  

  

/*這個會讓 icons 右側的 a tag 文字變成上下排列 (用途未知)
  <div class="dropdown-menu-full">
      <i class="bi bi-arrow-right-circle-fill nav-icons">
          <a href="#" class="body-1">願景</a>
      </i>                        
  </div>
  */
  .nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .nav-icons a {
    color: var(--op-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }




    .nav-icon:hover .nav-svg,
    .nav-icon.active .nav-svg {
    color: var(--op-gray9);
  }

  .nav-wrapper.scrolled .nav-icons a:hover,
  .nav-wrapper.hovered .nav-icons a:hover {
    color: var(--op-blue6);
  }
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--op-white);
    transition: color 0.3s ease;
    padding: 5px;
  }
  .nav-wrapper.scrolled .hamburger,
  .nav-wrapper.hovered .hamburger {
    color: var(--op-blue6);
  }


  /*選單手機版*/
  .nav-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--op-white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    z-index: 1000;
    border-top: 1px solid var(--op-gray2);
  }
  .nav-menu-container.active {
    display: block;

     z-index: 9999;
    /* background: white; */
    height: 9999px;
 
  }

  .nav-menu-container nav {
    flex-direction: column;
    width: 100%;
  }
  .nav-menu-container .nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
    display: block;
    position: relative;
  }
  .nav-menu-container .nav-text {
    color: var(--op-blue6);
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    position: relative;
  }
  .nav-menu-container .nav-item.active .nav-text::after {
    content: '\f077';
    font-family: 'FontAwesome';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-menu-container .nav-item .nav-text::after {
    content: '\f078';
    font-family: 'FontAwesome';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-menu-container .nav-text-noSub::after {
  content: none!important;
  }

  .nav-menu-container .dropdown-menu-full {
    position: static;
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
    /* background-color: var(--op-gray1); */
    display: none;
    flex-direction: column;
    border: none;
  }
  .nav-menu-container .nav-item.active .dropdown-menu-full {
    display: block;
    opacity: 1;
  }
  .nav-menu-container .dropdown-menu-full a {
    flex: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    display: block;
    color: var(--op-blue6);
    background-color: transparent;
  }
  .nav-menu-container .dropdown-menu-full a:hover {
    background-color: var(--op-white);
  }
  .nav-menu-container .nav-icons {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid var(--op-white);
    padding-top: 1rem;
    margin-top: 1rem;
    display: block;
  }
  .nav-menu-container .nav-icons a {
    color: var(--op-blue6);
    padding: 0.5rem 1rem;
    width: 100%;
    justify-content: flex-start;
    display: flex;
  }
  .nav-menu-container .nav-icons a:hover {
    background-color: transparent;
    color: var(--op-blue3);
  }

/* 平板樣式 */
@media (max-width: 980px){
          .nav-menu-container .dropdown-menu-full {
            height: 100%;
            width: 100%;
            padding-left: 0px;
            
          }

          .nav-menu-container .dropdown-menu-full a {
            margin-top: 0.5rem;
            padding: 0rem 1rem;
          }

          .nav-menu-container .sevNavContent {
            height: 100%;
            display: block;
            padding-left: 5px;
          }

          .nav-menu-container  .dropdown-menu-Third {
              height: 100%;
              width: 100%;
              padding-left: 0.2rem;
            }

          .nav-menu-container  .dropdown-menu-ThirdCol {
              height: 100%;
              width: 100%;
              padding-left: 0.2rem;

              display: block;
              
            }

           .nav-menu-container  .sevNavContentCol {
            height: 100%;
            display: block;
            padding-left: 5px;
          }


      

            .nav-menu-container .secNavCol1, .secNavCol2, .secNavCol3, .secNavCol4, .secNavCol5, .secNavCol6, .secNavCol7, .secNavCol8, .secNavCol9, .secNavCol10, .secNavCol11, .secNavCol12 {
            width: 100%;
          }

          .nav-menu-container .nav-text {
            background-image: linear-gradient(#f0f0f0 0 0);
            background-position: bottom center;
            background-size: 90% 2px;
            background-repeat: no-repeat;
            padding-bottom: 0.5rem;
          }

        .nav-menu-container .aTagDec {
          background-image: unset;
          background-position: unset;
          background-size: unset;
          background-repeat: unset;
          padding-bottom: unset;
        }

        .nav-menu-container .nav-item:not(:last-child)::after {
          content: none;
      }

      .nav-menu-container .nav-text:hover {
          text-decoration: none;
          border-bottom: none;
      }

      .nav-menu-container .nav-item a {
          text-decoration: none;
      }

     
  }

  



  .wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--gap-idx-l) var(--padding-x);
  }


  



  .footer {
    background-color: var(--op-blue6);
    color: var(--op-white);
    padding: 3rem 2rem;
    margin-top: 0;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
  }
  .footer .row {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .footer a {
    color: var(--op-gray3);
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer-bottom {
    max-width: 1400px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 1rem;
    background-color: var(--op-blue6);
  }
  .footer-bottom .accessibility {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-right: auto;
  }
  .footer-bottom .accessibility .left-block,
  .footer-bottom .accessibility .right-block {
    display: flex;
    flex-direction: column;
    gap: 0.12rem;
  }
  .footer-bottom .copyright {
    display: flex;
    flex-direction: column;
    gap: 0.12rem;
    text-align: right;
    margin-left: auto;
  }
  .footer-bottom img {
    width: 150px;
    margin-right: 2rem;
  }
  .footer-top {
    max-width: 1400px;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-top .logo img {
    width: 150px;
    height: auto;
  }
  .footer-top .links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .footer-top .links a {
    color: var(--op-gray3);
    text-decoration: none;
    font-size: 0.9rem;
  }
  .footer-top .links a:hover {
    text-decoration: underline;
  }
  .footer .row .col-md-2 {
    position: relative;
  }
  .footer .row .col-md-2 strong {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    color: var(--op-white);
  }
  .footer .row .col-md-2 a {
    display: block;
    font-size: 14px;
    margin-top: 4px;
    color: var(--op-gray3);
  }
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px; 
    border: 1px solid var(--op-blue5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    background-color: var(--op-white);
    font-size: 12px;
    color: var(--op-blue5);
    z-index: 99;
    display: none;
  }
  .back-to-top::after {
  font-family: "Bootstrap-Icons";
    content: "\F286"; /* Arrow right */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-to-top.show {
    display: block;
  }

  .cross-deco {
    position: absolute;
    top: 10%;
    left: 6.06%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .line-vertical {
    position: absolute;
    left: 6%;
    top: 0vh;
    border-right: 2px solid var(--op-blue5);
    height: 100%;
    z-index: 1;
  }
  .moving-line {
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: var(--op-orange1);
    transform: translateY(-50%);
    animation: slide 8.5s ease-in-out infinite alternate;
    z-index: 2;
  }
  .moving-line2 {
    left: 6%;
    width: 2px;
    height: 40px;
    background-color: var(--op-orange1);
    position: absolute;
    animation: move-down 8.5s ease-in-out infinite alternate;
    z-index: 2;
  }
  .c-child {
    position: absolute;
    left: 0;
    top: 25rem;
    width: 100%;
    height: 4px;
    border-top: 2px solid var(--op-blue5);
    z-index: 1;
  }
  
  .footer .c-child {
    top: 20rem;
  }

    @keyframes move-down {
    0% {
      top: 0vh;
    }
    100% {
      top: calc(100% - 80px);
    }
  }

  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 40px);
    }
  }


  /* 電腦版標題樣式 */
  @media (min-width: 1440px) {
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 2%;
    }
    h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 2%;
    }
    h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 1px;
    }
    h5 {
      font-size: 20px;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 1px;
    }
    h6 { 
      font-size: 18px ;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .display {
      font-size: 36px;
      font-weight: 700;
      line-height: 2.6;
      letter-spacing: 1px;
    }
    .body-1 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: 1px;
    }
    .body-2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 2px;
    }
    .minimum {
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0;
    }
    .footer .row .col-md-2 {
      flex: 0 0 auto;
      width: 16.666667%;
      margin-bottom: 0;
    }
    .footer .row .col-md-2 a {
      display: block;
    }
    .footer-top .links {
      display: flex;
      flex-wrap: nowrap;
    }
    .footer-top .links .links-row {
      display: contents;
    }
    .footer-top .links a {
      flex: 0 0 auto;
      text-align: left;
    }
  }

  /* 懸浮視窗 */
  .floating {
    position: relative;
    margin-top: -15%; /* 上移，部分覆蓋 Banner 底部 */
    z-index: 10;
  }

  .floating-block {
    position: absolute;
    transform: translateY(-50%);
    width: 34vw;
    padding: clamp(1rem, 2vw, 1.5rem);
    padding-bottom: 6rem;
    background: rgba(46, 68, 119, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    color: var(--op-white);
    z-index: 10;
  }

  /* 文字容器 */
  .floating-block .text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(0.5rem, 5%, 0.625rem);
  }

  /* 漂浮框文字 */
  .floating-block .text {
    color: var(--op-white);
    max-width: clamp(15rem, 40vw, 28.75rem); 
    text-align: left;
  }

  /* 日期區域 */
  .floating-block .date {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .floating-block .date h4.floating-left {
    margin: 0 clamp(0.3rem, 0.5vw, 0.5rem) 0 0;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .floating-block .date span.floating-center-body-1,
  .floating-block .date span.floating-right-body-1 {
    margin: 0 clamp(0.3rem, 0.5vw, 0.5rem);
    color: var(--op-gray3);
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }



  .circle-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .circle-button-left,
  .circle-button-right {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 2px solid var(--op-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .circle-button-left::after,
  .circle-button-right::after {
    font-family: "Bootstrap-Icons";
    color: var(--op-white);
    font-size: 24px;
  }

  .circle-button-left::after {
    content: "\F284";
  }

  .circle-button-right::after {
    content: "\F285";
  }

  .circle-button-left:hover,
  .circle-button-right:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }



  /* 平板樣式開始 */
  @media (max-width: 980px) {
      :root {
    --padding-x: 60px;
    }
    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 2px;
    }
    h5 {
      font-size: 18px;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 1px;
    }
    h6 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .display {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.66;
    }
    .body-1 {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 1px;
      color: var(--op-blue6);
    }
    .body-2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4px;
      letter-spacing: 1px;
    }
    .minimum {
      font-size: 12px;
      font-weight: 500;
      line-height: 0;
      letter-spacing: 0;
    }

    .nav-right {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    .hamburger {
      display: block;
    }
    .nav-right .nav-icons,
    .nav-right nav {
      display: none;
    }
    .nav-menu-container {
      display: none;
    }
    .nav-menu-container.active {
      display: block;
    }
    .footer .row {
      border-top: 1px solid var(--op-blue4);
    }
    .footer .row .body-1,
    .footer-bottom .body-1 {
      color: var(--op-white);
    }
    .footer-bottom {
      background-color: var(--op-blue6);
    }
    .footer .row .col-md-2 {
      width: 100%;
      display: block;
      border-bottom: 1px solid var(--op-blue4);
    }
    .footer .row .col-md-2 strong {
      color: var(--op-white);
      padding: 1rem;
      width: 100%;
      text-align: left;
      cursor: pointer;
      display: block;
      background-color: transparent;
      position: relative;
    }
    .footer .row .col-md-2 strong::after {
      content: '\f078';
      font-family: 'FontAwesome';
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .footer .row .col-md-2.active strong::after {
      content: '\f077';
    }
    .footer .row .col-md-2 a {
      display: none;
      position: static;
      width: 100%;
      padding: 0.3rem 1rem;
      background-color: var(--op-blue6);
      color: var(--op-gray3);
      font-size: 14px;
      margin-bottom: 0.3rem;
    }
    .footer .row .col-md-2.active a {
      display: block;
    }
    .footer .row .col-md-2 a:hover {
      background-color: var(--op-blue6);
    }
    .footer-top {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .footer-top .logo {
      display: none;
    }
    .footer-top .links {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .footer-top .links .links-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 310px;
      margin-bottom: 8px;
    }
    .footer-top .links .links-row a {
      flex: 0 0 50%;
      text-align: left;
    }
    .footer-bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
    .footer-bottom img {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .footer-bottom .accessibility {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .footer-bottom .copyright {
      margin-left: 0;
      text-align: left;
    }

  .cross-deco {
    position: absolute;
    top: 10%;
    left: 10.06%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .line-vertical {
    position: absolute;
    left: 10%;
    top: 0vh;
    border-right: 2px solid var(--op-blue5);;
    height: 100%;
    z-index: 1;
  }
  .moving-line {
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: var(--op-orange1);
    transform: translateY(-50%);
    animation: slide 8.5s ease-in-out infinite alternate;
    z-index: 2;
  }
  .moving-line2 {
    left: 10%;
    width: 2px;
    height: 40px;
    background-color: var(--op-orange1);
    position: absolute;
    animation: move-down 8.5s ease-in-out infinite alternate;
    z-index: 2;
  }

  /*平版畫面footer裡面會動的線隱藏*/
  .footer-c-child {
    display: none;
  }


  }