.pagewrap1 {
    position: relative;
    margin: -1rem auto 0;
    background-color: var(--op-white-b);
    border-radius: 1rem 1rem 0 0;
}   
.wrap1 {
    max-width: none;
    position: relative;
}

/* 內容樣式開始 */

@media (max-width: 1140px) {

}

/* 平板樣式 */
@media (max-width: 991px) {

}

/* 手機樣式開始 */
@media (max-width: 768px) {


}
