.top-bg {
    background-image: url("../img/Vector.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 100% 16%;
    background-color: var(--op-blue6-b);
    padding-top: 6rem;
    padding-bottom: 4rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
.c-child { 
    top: 32%;
}
.top-bg .wrap2 {
position: relative;
z-index: 3;
padding-top: var(--padding-y-20);
padding-bottom: var(--padding-y-20);
}
.pagewrap1 {
    position: relative;
    margin: -1rem auto 0;
    background-color: var(--op-white-b);
    border-radius: 1rem 1rem 0 0;
}   
.wrap1 {
    max-width: none;
    position: relative;
}

/* 內容樣式開始 */

@media (max-width: 1140px) {

}

/* 平板樣式 */
@media (max-width: 991px) {
    .top-bg {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

}

/* 手機樣式開始 */
@media (max-width: 768px) {


}
